html{background:antiquewhite;}




.navigation{
    position:fixed;
    text-align:center
  }
.title{
    text-align: center;
    font-family:verdana;
    padding-top:50px}
.sub-title{
    text-align: center;
    font-family:verdana;
}
.main-text{
    align-self: center;
    font-family:Verdana;
    font-size:15px;
    width:50%;
    margin-left:25%;
    background-color: white;
    padding:20px 20px;
    border-radius:25px;
    }


#profile{text-align: center;}


a[draggable]{
    font-family:Impact, 'Arial Narrow Bold', sans-serif;
    color:brown;
    padding:6px;
    background-color: wheat;}
a:hover{color: blue}



li{font-family:Helvetica, sans-serif; font-size:15px}